
*.kp
*.kp.*
*.wfn*
cp2k.inp
cp2k.out

.DS_Store/
.ipynb_checkpoints/
 NSF/Peter-XCFunctional/.ipynb_checkpoints/

Tutorial/MTD.traj
Tutorial/UnbiasMD.xyz
Sandbox/

MC/equation-of-state/methanol*
MC/equation-of-state/water*
MC/equation-of-state/formic_acid*
MC/equation-of-state/tetralin*
MC/equation-of-state/cyclohexane*
MC/equation-of-state/ammonia*

Simulations
simulations
simulations_tmc_uc-eos_alpha
simulations_tmc_uc-eos_beta
simulations-molecule-bo4-minimization
simulations-molecule-fal-minimization
simulations-molecule-fol-minimization
simulations-molecule-mf-minimization
simulations-molecule-thfol-minimization

